.btn {
    color: white;
    padding: 12px 16px;
    background-color: green;
    box-shadow: black 2px 2px 10px;
}

.btn:hover {
    background-color: #d61313;
}

a {
    text-decoration: none;
}

button a {
    color: white;        
    text-decoration: none; 
    display: inline-block; 
    width: 100%;
}

/* .open-sans{
    
} */

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}


nav {
    width: 1600px;
    height: 70px;
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 30px;
    width: 70px;
    margin: 0 80px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0;
    cursor: pointer;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color: black;
    text-decoration: none;
    display: inherit;
}

nav button {
    margin-right: 120px;
    border-radius: 3px;
    border: none;
}
nav button a{
    color: white;
    font-size: 15px;
}

#banner {
    background: url("assets/hero-bg.png");
    width: 1600px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 760px;
    padding: 295px 51px;
}

#banner .banner-text h4{
    color: #469165;
    font-size: 20px;
    background-color: #fff;
    width: 280px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 60px;
    padding-top: 9px;
}


.h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 0;
}

.banner-text p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    width: 601px;
    line-height: 30px;
}

.banner-button {
    margin: 0 auto;
    width: 500px;
    display: flex;
    gap: 20px;
}

.banner-button a {
    color: white;
}

.banner-button .btn1 {
    font-size: 15px;
}

.btn1 {
    box-shadow: none;
    border-radius: 4px;
    margin-left: 30px;
}

.banner-button .btn2 {
    border: solid 0.2px white;
    background-color: #ffffff12;
    border-radius: 4px;
    width: 200px;
}

.banner-button .btn2:hover {
    background-color: rgba(0, 255, 145, 0.315);
}

#structures .main-structures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.structures-heading {
    max-width: 1300px;
    height: 150px;
    margin-top: 20px;
}

.structures-heading h1 {
    font-size: 48px;
}

.structures-heading p {
    margin: 0 0 0 42px;
    margin-bottom: 50px;
}

.structures-cards {
    display: flex;
    gap: 24px;
}

.card {
    height: 300px;
    width: 322px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.322);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(92, 7, 4, 0.88);
}

.card img {
    background-color: #F95555;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
}

.card h4 {
    font-size: 20px;
    margin: 10px 0 10px 0;
    text-align: center;
}

.card p {
    max-width: 274px;
    text-align: center;
    margin-left: 20px;
}

#second-brain .brain-second {
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 1300px;
}


.brain-second .brain-text {
    width: 400px;
    height: 400px;
}

.brain-text h5 {
    color: #469165;
    margin-bottom: 20px;
}

.brain-text h1 {
    margin-bottom: 10px;
}

.brain-second p {
    color: #627382;
    margin-bottom: 30px;
}

.tips h6 {
    display: flex;
    text-align: center;
    margin-bottom: 8px;
}

#challange {
    margin: 0 auto;
    width: 1320px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 3px;
}

.challange-container {
    width: 36%;
}

.challange-container h1 {
    margin-bottom: 20px;
}

.challange-container p {
    color: #627382;
    font-size: 12px;
    margin-bottom: 20px;
}

.challange-container button {
    color: white;
    background-color: #30B868; 
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 25px;
}

footer {
    height: 400px;
    background-color: #001931;
}

#social {
    height: 350px;
    border: solid;
    margin: 0 auto;
}

#social .social-container{
    /* border: solid; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 40%;
    margin-top: 30px;
    
}

#img-footer {
    width: 250px;
    height: 100px;
    padding-top: 70px;
}

.social-icons-container {
    margin-top: 60px;
    height: 50%;
}

.social-icons-container div{
    padding-left: 15px;
    color: white;
    margin-bottom: 20px;
}

.social-icons {
    background-color: rgb(255, 254, 254);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

footer hr {
    border: none; 
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.2); 
    width: 80%; 
    max-width: 1300px;
    margin: 0 auto;
    display: block; 
}

.footer-bttom p{
    text-align: center;   
    color: white;
    padding-top: 40px;
    height: 70px;
    background-color: #001931;
}