.btn {
    color: white;
    padding: 12px 16px;
    background-color: green;
}

.btn:hover {
    background-color: #d61313;
}

a {
    text-decoration: none;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

* {
    margin: 0;
}


nav {
    width: 1600px;
    height: 70px;
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 30px;
    width: 70px;
    margin: 0 80px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color: black;
    text-decoration: none;
    display: inherit;
}

nav button {
    margin-right: 120px;
    border-radius: 3px;
    border: none;
}
nav button a{
    color: white;
    font-size: 15px;
}